@import "../../../styles/base";

.pop-up {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 30em;
    overflow-y: auto;
    z-index: 1;
    transform: translateY(2em);
    box-shadow: $in-container-shadow;
    background-color: $primary;
}