@import "../../../styles/base";

:host {
    position: relative;
    width: 100%;

    .hex-input {
        cursor: pointer;
        background-color: $dark;
        color: $on-dark;
        width: 100%;

        &:disabled {
            cursor: not-allowed;            
        }

        &.dark-color-text {
            color: $on-light;
        }
    }
}