@import "../../../styles/base";

:host {
    position: relative;

    .hex-input {
        cursor: pointer;
        background-color: $dark;
        color: $on-dark;
        font-size: x-large;

        &:disabled {
            cursor: not-allowed;            
        }

        &.dark-color-text {
            color: $on-light;
        }
    }
}