@import '../../styles/base';

.contrast-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    section {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        max-width: $bp-large;

        & > * {
            flex-grow: 1;
            margin-bottom: 2em;
        }

        .min-and-ratio-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: stretch;
            width: 100%;

            & > * {
                flex: 1 0 50%;
                padding: 1em;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                min-width: 200px;
            }

            & > * > *:last-child {
                margin-left: 2em;
            }

            .ratio {
                font-weight: bold;
                padding: 0.5em;
                border: 0.1em solid;
                border-radius: 0.2em;
                border-color: inherit;                
            }
        }

    }
}