@import "./styles/base";

// @font-face {
//     font-family: system;
//     font-style: normal;
//     font-weight: 300;
//     src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
// }

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body, input, textarea {
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.6;
}
body {
    color: $on-dark;
    background-color: $dark;

    min-height: 100vh;

    @media only screen and (max-width: $bp-large) {
        line-height: 1.2;
    }
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.25em;
}
h3 {
    font-size: 1.755em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.24em;
}
h6 {
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input, button {
    outline: none;
    border: none;
    padding: 0.5em;
    text-align: center;
    border-radius: $border-radius;
    box-shadow: $in-container-shadow;
    font-size: inherit;
}

*:focus {
    outline-offset: 0.25em;
    outline: 0.05em solid $secondary;
}

.container {
    padding: 1em;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin-bottom: 1em;
    text-align: center;
    padding: 1em;
    
    .head {
        text-shadow: $primary 0 0.1em;
        margin-bottom: 1em;
    }    
}

.enter-animation, .enter-animation-fade {
    opacity: 0;
    transform: translateY(-5%);
    pointer-events: none;
    transition: opacity 300ms $easing, transform 300ms $easing;

    &.enter {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}

.enter-animation-fade {
    transform: none;
}

.input-label-group-small {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
    font-size: 1.25em;
    
    & > * {
        flex: 1 1 50%;
    }

    label {
        margin-right: 0.5em;
    }

    input {
        padding: 0.25em;
    }
}

.warning {
    color: $warning;
}
.warning-background {
    background-color: $warning;
}
.warning-border {
    border-color: $warning;
}

