@import "./styles/base";

@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: 'system';
    font-weight: 400;
    line-height: 1.6;
    color: $on-dark;
    background-image: $body-gradient;

    min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input, button {
    outline: none;
    border: none;
    padding: 0.5em;
    text-align: center;
    border-radius: $border-radius;
    box-shadow: $in-container-shadow;
    font-size: inherit;
}

*:focus {
    outline-offset: 0.25em;
    outline: 0.05em solid $secondary;
}

.container {
    padding: 1em;
    background-color: $dark;
    box-shadow: $container-shadow;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin-bottom: 1em;
    padding: 1em 0;
    border-bottom: 0.125em solid $secondary;
    border-radius: $border-radius;
    font-weight: bold;
}

.enter-animation, .enter-animation-fade {
    opacity: 0;
    transform: translateY(-5%);
    pointer-events: none;
    transition: opacity 300ms $easing, transform 300ms $easing;

    &.enter {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}

.enter-animation-fade {
    transform: none;
}

.input-label-group-small {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
    font-size: 1.25em;
    
    & > * {
        flex: 1 1 50%;
    }

    label {
        margin-right: 0.5em;
    }

    input {
        padding: 0.25em;
    }
}

